doctype html
include ./head.pug
h1
  a(href='https://github.com/kalkih/passport-appointment-bot', target='_blank')
    | passport-appointment-bot
h2 Please solve Captcha to proceed
.mtcaptcha
h3#status
